<?xml version="1.0"?>

<!-- Configuration Start: Please customize following configuration -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.7">
    
    <name>台泰美食觀光景點(Taiwan-Thailand's cuisine &amp; tourist spots)</name>
    <description>台泰美食觀光景點(Taiwan-Thailand's cuisine &amp; tourist spots)</description>
    <author href="">L0732實驗室</author>
    <!-- Configuration End -->
  
    <!--  allows access to any external resource. -->
    <access origin="*"/>
    <allow-navigation href="*" />
  
    <content src="index.html"/>
    
    <!--     <icon src="icon.png"/> -->
   
    <icon src="icons/icon512.png">
        <image76x76>icons/icon76.png</image76x76>
        <image120x120>icons/icon120.png</image120x120>
        <image152x152>icons/icon152.png</image152x152>
        <image1024x1024>icons/icon1024.png</image1024x1024>
    </icon>
  
    <!-- https://build.phonegap.com/current-support -->
    <preference name="phonegap-version" value="cli-6.5.0" />
    
    <!-- 防止太多權限 -->
    <preference name="permissions" value="none" />
    
    <!-- 只保留最低的權限 -->
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <!-- 外掛 -->
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
</widget>
